/* .todo-list-wrap {
    border: 1px solid #888;
    border-radius: 6px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
} */

.todo-list-wrap {
    order:1;
}

@media (max-width:570px){
    .todo-list-wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}