#container{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
}

.todo-form {
    border: 1px solid #888;
    border-radius: 6px;
    order:0;
    background: #f4f4f4;
}
