
<form #todoForm="ngForm" (ngSubmit)="addTodo(todoForm)" novalidate>

  <div>
    <div class="input-group">
      <label for="">Todo</label>

      <input type="text" 
      class="form-control" 
      ngModel 
      name="taskTitle" 
      #taskTitle="ngModel" 
      placeholder="Add Todo" required >

      <div class="input-error" *ngIf="taskTitle.touched && !taskTitle.valid">
        <div *ngIf="taskTitle.errors.required">The task name required.</div>
      </div>
    </div>
    <div class="input-radio-group">
      <!-- <div class="radio-btn radio-red" *ngFor="let p of priorities; trackBy: trackPriority">
        <label for="">
        <input type="radio" class="form-control" [value]="p.id" name="priority" ngModel>
        {{ p.colorName }}</label>
      </div> -->
      <div class="radio-btn radio-red">
          <label for="">Red</label>
          <input type="radio" #priority="ngModel" required class="form-control" value="red" name="priority" ngModel>
        </div>
      <div class="radio-btn radio-green">
        <label for="">Green</label>
        <input type="radio" #priority="ngModel" required class="form-control" value="green" name="priority" ngModel>
      </div>
      <div class="radio-btn radio-blue">
        <label for="">Blue</label>
        <input type="radio" #priority="ngModel" required class="form-control" value="blue" name="priority" ngModel>
      </div>

      <div class="input-error" *ngIf="priority.touched && !priority.valid">
          <div *ngIf="priority.errors.required">PLease select task priority.</div>
      </div>

    </div>
    <button class="todo-btn" [disabled]="todoForm.form.invalid">Add</button>
  </div>
</form>