form{
	max-width: 30em;
	margin: 1em auto;
	position: relative;
    padding: 1em;
    overflow: hidden;
    font-family: "Raleway";
}

form input[type=text]::placeholder{
   font-family: "Raleway";
   color:#666; 
}
.input-radio-group { display: flex; }
.input-radio-group .radio-btn { 
    flex: 1; 
    margin: 1em 0.5em 1em 0em;
    padding: 2px 4px;
    border-width: 2px;
    border-style:  solid;
    border-radius: 6px; 
}
.radio-red { border-color: red; }
.radio-blue { border-color: blue; }
.radio-green { border-color: green; }

.todo-btn {
    padding: 0.5em 1em;
    background: #7abcff; 
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); 
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); 
    background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); 
    color: #fff;
    border: 1px solid #7abcff;
    border-radius: 4px;
    outline: none;
}
.todo-btn:hover { background: #999;  }
@media (max-width:570px){
    .todo-list-wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}