form{
	width: 270px;
	margin: 1em auto;
	position: relative;
    padding: 1em;
    overflow: hidden;
    font-family: "Raleway";
}

form input[type=text]::placeholder{
   font-family: "Raleway";
   color:#666; 
}
.input-radio-group { display: flex; }
.input-radio-group .radio-btn { 
    flex: 1; 
    margin: 1em 0.5em 1em 0em;
    padding: 2px 4px;
    border-width: 2px;
    border-style:  solid;
    border-radius: 6px; 
}
.radio-red { border-color: red; }
.radio-blue { border-color: blue; }
.radio-green { border-color: green; }

.input-error {
    color: red;
    background:#ffc3c3;
    border: 1px solid #ffadad;
    border-radius: 6px;
    padding: 0.5em;
    margin-bottom: 0.5em;
    font-size: 0.8em;
}
.form-control.ng-touched.ng-invalid { border:  2px solid red; }

